.Search{
    padding-top: 100px;
    z-index: 0;
}
.search-search{
    padding-right: 26%;
    padding-left: 4%;
}
.search-result{
    padding-top: 50px;
    padding-left: 3%;
    padding-right: 25%;
}